<form
  [formGroup]="registerForm"
  class="flex flex-col items-center gap-8"
  (ngSubmit)="register()"
  autocomplete="off"
>
  <div class="w-[650px] flex flex-col gap-12">
    <h2
      class="text-5xl font-medium text-custom-blue-200 h-[75px] w-full text-center border-b-2 border-custom-white-100"
    >
      Sign Up!
    </h2>
    <app-text-input
      [formControlName]="'username'"
      [label]="'Username'"
      [type]="'text'"
    />
    <app-text-input
      [formControlName]="'password'"
      [label]="'Password'"
      [type]="'password'"
    />
    <app-text-input
      [formControlName]="'confirmPassword'"
      [label]="'Confirm Password'"
      [type]="'password'"
    />

    <div
      class="w-full text-lg h-[75px] rounded-xl border-2 border-custom-blue-100 bg-transparent px-4 flex items-center gap-4"
    >
      <label class="text-xl font-bold">I'm a:</label>
      <label>
        <input type="radio" value="male" formControlName="gender" /> Male
      </label>
      <label>
        <input type="radio" value="female" formControlName="gender" /> Female
      </label>
    </div>

    <app-text-input
      [formControlName]="'knownAs'"
      [label]="'Known As'"
      [type]="'text'"
    />

    <app-text-input
      [formControlName]="'dateOfBirth'"
      [label]="'Date Of Birth'"
      [type]="'date'"
    />

    <app-text-input
      [formControlName]="'city'"
      [label]="'City'"
      [type]="'text'"
    />

    <app-text-input
      [formControlName]="'country'"
      [label]="'Country'"
      [type]="'text'"
    />

    @if (validationErrors) {
    <div class="w-full h-auto justify-center flex flex-col">
      <ul>
        @for (error of validationErrors; track $index) {
        <li class="text-red-500 text-lg">{{ error }}</li>
        }
      </ul>
    </div>
    }

    <div class="w-full h-[75px] flex justify-center gap-6">
      <button
        [disabled]="registerForm.invalid"
        type="submit"
        class="w-[250px] h-full uppercase text-xl font-medium border-2 border-custom-blue-200 rounded-xl hover:bg-custom-blue-200 hover:border-custom-white-100"
      >
        Register
      </button>
      <button
        type="button"
        (click)="cancel()"
        class="w-[250px] h-full uppercase text-xl font-medium border-2 border-custom-blue-200 rounded-xl hover:bg-custom-blue-200 hover:border-custom-white-100"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
