<form
  class="flex flex-col items-center gap-8"
  #registerForm="ngForm"
  (ngSubmit)="register()"
  autocomplete="off"
>
  <div class="w-[650px] flex flex-col gap-12">
    <h2
      class="text-5xl font-medium text-custom-blue-200 h-[75px] w-full text-center border-b-2 border-custom-white-100"
    >
      Sign Up!
    </h2>
    <div class="flex flex-col w-full h-auto gap-2">
      <label class="ml-3 text-xl">Username</label>
      <input
        name="username"
        [(ngModel)]="model.username"
        class="w-full text-lg h-[75px] rounded-xl border-2 border-custom-white-100 bg-transparent focus-within:shadow-xl focus:shadow-custom-blue-200 focus:outline-none px-4"
      />
    </div>
    <div class="flex flex-col w-full h-auto gap-2">
      <label class="ml-3 text-xl">Password</label>
      <input
        type="password"
        name="password"
        [(ngModel)]="model.password"
        class="w-full text-lg h-[75px] rounded-xl border-2 border-custom-white-100 bg-transparent focus-within:shadow-xl focus:shadow-custom-blue-200 focus:outline-none px-4"
      />
    </div>
    <div class="w-full h-[50px] flex justify-center gap-6">
      <button
        type="submit"
        class="w-[200px] uppercase text-xl h-full font-medium border-2 border-custom-blue-200 rounded-xl hover:bg-custom-blue-200 hover:border-custom-white-100"
      >
        Register
      </button>
      <button
        type="button"
        (click)="cancel()"
        class="w-[200px] uppercase text-xl h-full font-medium border-2 border-custom-blue-200 rounded-xl hover:bg-custom-blue-200 hover:border-custom-white-100"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
